@media screen and (max-width: 500px) {
    .toggle-button {
        display: flex;
    }

    .app-navbar {
        display: none;
    }

    .toggle {
        display: block;
    }

    .toggle-navbar {
        display: none;
    }

    #skipContent {
        position: absolute;
        left: 35%;
    }
}

@media screen and (min-width: 1200px) {
    .hero img.hero-img, .hero {
        min-width: 1000px;
        min-height: auto;
    }
    .restaurant_poster {
        width: 100%;
        max-width: 30rem;
        min-width: 20rem;
        height: auto;
    }
}

@media screen and (max-width: 1200px) {
    .hero img.hero-img, .hero {
        width: 100%;
        height: auto;
    }

    .restaurant_poster {
        width: 100%;
        max-width: 30rem;
        min-width: 20rem;
        height: auto;
    }

    #restaurant_review {
        margin: auto;
        width: 50%;
    }

    .hero-text {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        transform: translateY(-50%);
    }
}

@media (max-width: 1150px) {
    #restaurant-list {
        column-gap: .5rem;
    }
}

@media (max-width: 1102px) {
    #restaurant-list {
        column-gap: 10rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 975px) {
    #restaurant-list {
        column-gap: 5rem;
    }
}

@media (max-width: 800px) {
    #restaurant-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1020px) {
    #detail_container {
        padding: 6rem 25%;
        grid-template-columns: repeat(1, 1fr);
    }

    .restaurant_info {
        margin: 50px 0px;
    }
}

@media (max-width: 950px) {
    #detail_container {
        padding: 6rem 20%;
    }
}

@media (max-width: 750px) {
    #detail_container {
        padding: 6rem 15%;
    }

    .not_found_img {
        width: 450px !important;
    }
}

@media (max-width: 650px) {
    #detail_container {
        padding: 6rem 10%;
    }

    .template-container {
        width: 400px;
    }

    .not_found_img {
        width: 350px !important;
    }
}

@media (max-width: 550px) {
    #detail_container {
        padding: 6rem 5%;
    }
}

@media (max-width: 530px) {
    #detail_container {
        padding: 6rem 0;
    }

    .restaurant_info {
        padding: 0 10px;
        width: 24rem;
    }

    .template-container {
        width: 380px;
    }

    .not_found_img {
        width: 250px !important;
    }
}