<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The best place to find the best restaurant">
  <link rel="shortcut icon" href="restaurant-icon-orange.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="/logos/logo256x256.png">
  <meta name="theme-color" content="#FDB137"/>
  <link rel="manifest" href="../public/app.webmanifest">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Foodie || Restaurant Apps</title>
  <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <h1 class="app-logo">Foodie</h1>
    
    <a id="skipContent" alt="skip_to_content" href="#content-text">Skip to Content</a>

    <div class="app-navbar">
      <ul>
        <li><a href="#/restaurants" class="navbar-home">Home</a></li>
        <li><a href="#/favorite" class="navbar-favorite">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/paulieta-gracia/" class="navbar-about">About Us</a></li>
      </ul>
    </div>
  </header>

  
  <div class="toggle">
    <a href="#" class="toggle-button" id="toggle-button">
      <span class="bar"></span>
    </a>
    
    <div class="toggle-navbar">
      <ul>
        <li><a href="#/restaurants" class="navbar-home" id="navbar-home">Home</a></li>
        <li><a href="#/favorite" class="navbar-favorite" id="navbar-favorite">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/paulieta-gracia/" class="navbar-about" id="navbar-about">About Us</a></li>
      </ul>
    </div>
  </div>

  <content id="app-content"></content>

  <footer>
    <p>Copyright ©2022 Paulieta Gracia Lim - Foodie Apps</p>
  </footer>
</body>
</html>
